<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>App Cinema</title>
    <link rel="icon" href="{{ url_for('static',filename = 'favicon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename = 'styles/w3.css') }}"/>
  </head>
  <body>
    <div class="w3-card-4">
        <header class="w3-container w3-indigo">
            <h1>ERRO</h1>
        </header>
        <footer class="w3-container w3-indigo">
            <h5>Gerado em {{data.data}}</h5>
        </footer>
    </div>
  </body>
</html>