<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tabela Periódica: Grupos</title>
    <link rel="icon" href="{{ url_for('static',filename = 'favicon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename = 'styles/w3.css') }}"/>
  </head>
  <body>
    <div class="w3-card-4">
        <header class="w3-container w3-indigo">
            <h1>Tabela Grupos</h1>
        </header>
        <div class="w3-container">
            <table class="w3-table-all">
              <tr>
                <th>ID</th>
                <th>Número</th>
                <th>Nome</th>
              </tr>
              {% for entry in data %}
              <tr>
                <td><a href="/grupo/{{entry.s.value.split("#")[-1]}}">{{ entry.s.value.split("#")[-1] }}</a></td>
                <td>{% if entry.n is defined %} {{ entry.n.value }} {% else %} - {% endif %}</td>
                <td>{% if entry.nome is defined %} {{ entry.nome.value }} {% else %} - {% endif %}</td>
              </tr>
              {% endfor %}
            </table>
        </div>
        <footer class="w3-container w3-indigo">
            <h5>Gerado por xiquitita - <a href="/">Voltar à página princial</a></h5>
        </footer>
    </div>
  </body>
</html>